.monospace {
  font-family: 'Courier New', monospace;
}

.upper-case {
  text-transform: uppercase;
}

.line-number-container {
  width: 7em;
}

.highlight {
  background: greenyellow;
}

#code-container {
  width: 29em;
  column-count: 2;
  display: inline-block;
  height: 18em;
  user-select: none;
}

.letter,
.password {
  cursor: none;
}

#history-container {
  height: 18em;
  width: 12em;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

.hover {
  background: black;
  color: white;
}

#code-container,
#history-container {
  border: 1px solid #c8c8c8
}

#input-cursor {
  position: relative;
  left: -12px;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
